/*_________ MIXINS ______*/
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("../fonts/pts56f_w.eot");
  src: local("PT Sans Italic"), url("../fonts/PTS56F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/pts76f_w.eot");
  src: local("PT Sans Bold Italic"), url("../fonts/PTS76F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS76F_W.woff") format("woff"), url("../fonts/PTS76F_W.ttf") format("truetype"), url("../fonts/PTS76F_W.svg#PTSans-BoldItalic") format("svg"); }
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/ptc55f_w.eot");
  src: local("PT Sans Caption"), url("../fonts/PTC55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTC55F_W.woff") format("woff"), url("../fonts/PTC55F_W.ttf") format("truetype"), url("../fonts/PTC55F_W.svg#PTSans-Caption") format("svg"); }
@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url("../fonts/ptc75f_w.eot");
  src: local("PT Sans Caption Bold"), url("../fonts/PTC75F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTC75F_W.woff") format("woff"), url("../fonts/PTC75F_W.ttf") format("truetype"), url("../fonts/PTC75F_W.svg#PTSans-CaptionBold") format("svg"); }
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/ptn57f_w.eot");
  src: local("PT Sans Narrow"), url("../fonts/PTN57F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTN57F_W.woff") format("woff"), url("../fonts/PTN57F_W.ttf") format("truetype"), url("../fonts/PTN57F_W.svg#PTSans-Narrow") format("svg"); }
@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("../fonts/ptn77f_w.eot");
  src: local("PT Sans Narrow Bold"), url("../fonts/PTN77F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTN77F_W.woff") format("woff"), url("../fonts/PTN77F_W.ttf") format("truetype"), url("../fonts/PTN77F_W.svg#PTSans-NarrowBold") format("svg"); }
* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #f1f1f1; }

.conteiner {
  width: 1260px;
  margin: 0 auto; }

.conteiner-s820 {
  width: 820px;
  margin: 0 auto; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  text-align: center;
  margin: 0 auto; }

.header {
  height: 160px;
  background: #384047; }
  .header .header__top {
    height: 37px;
    border-bottom: 1px solid #2980b9;
    padding-top: 10px; }
    .header .header__top:after, .header .header__top:before {
      display: table;
      content: ""; }
    .header .header__top:after {
      clear: both; }
    .header .header__top .header__menu {
      float: left;
      width: 75%; }
      .header .header__top .header__menu .header__menu-toogle {
        display: none; }
      .header .header__top .header__menu .menu {
        display: table;
        width: 100%; }
        .header .header__top .header__menu .menu .menu__item {
          display: table-cell;
          padding: 0 22px; }
          .header .header__top .header__menu .menu .menu__item a {
            color: #FFF;
            font-size: 16px;
            font-family: 'PT Sans';
            font-weight: normal;
            line-height: normal; }
    .header .header__top .header__right {
      float: left;
      width: 25%; }
      .header .header__top .header__right .header__auth {
        color: #FFF;
        font-size: 16px;
        font-family: 'PT Sans';
        background: url("../img/icon_1.png") 153px no-repeat;
        margin-top: -10px;
        display: block;
        width: 50%;
        height: 32px;
        float: left;
        padding-top: 10px;
        padding-left: 50px; }
      .header .header__top .header__right .header__cart {
        display: block;
        float: right;
        margin-top: -10px;
        width: 76px;
        height: 38px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background: url("../img/icon_cart.png") center 5px no-repeat #2980b9; }
        .header .header__top .header__right .header__cart .header__circle {
          background: #f65542;
          height: 16px;
          width: 16px;
          border-radius: 8px;
          display: block;
          margin: 3px 0 0 34px;
          text-align: center;
          font-family: 'PT Sans';
          font-size: 10px;
          color: #fff;
          line-height: 16px; }
  .header .header__bottom:after, .header .header__bottom:before {
    display: table;
    content: ""; }
  .header .header__bottom:after {
    clear: both; }
  .header .header__bottom .header__logo {
    float: left;
    width: 25%; }
    .header .header__bottom .header__logo .logo {
      display: block;
      width: 272px;
      height: 48px;
      background: url(../img/logo_1280.png);
      margin-top: 23px; }
  .header .header__bottom .header__search {
    float: left;
    width: 50%; }
    .header .header__bottom .header__search .search__input {
      width: 520px;
      height: 41px;
      display: block;
      border: none;
      padding: 0;
      margin: 0 auto;
      margin-top: 30px;
      border-radius: 3px; }
    .header .header__bottom .header__search .search__submit {
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      margin-left: 543px;
      margin-top: -31px;
      border: none;
      background: url(../img/ico_search.png) no-repeat;
      cursor: pointer; }
  .header .header__bottom .header__contact {
    float: left;
    width: 25%;
    margin-top: 6px; }
    .header .header__bottom .header__contact .contact__title {
      text-align: right;
      font-family: 'PT Sans';
      font-size: 10px;
      color: #FFF;
      text-transform: uppercase; }
    .header .header__bottom .header__contact .contact__phone {
      text-align: right;
      font-family: 'PT Sans';
      font-weight: bold;
      font-size: 33px;
      color: #FFF;
      letter-spacing: 1.5px; }
    .header .header__bottom .header__contact .contact__callback-link {
      display: table;
      width: 262px;
      float: right; }
      .header .header__bottom .header__contact .contact__callback-link .calbacklink__item {
        float: left;
        font-size: 13px;
        font-family: 'PT Sans';
        display: table-cell;
        /*width: 50%;*/
        padding-left: 25px;
        height: 20px;
        line-height: 20px; }
        .header .header__bottom .header__contact .contact__callback-link .calbacklink__item:first-of-type {
          padding-right: 10px; }
        .header .header__bottom .header__contact .contact__callback-link .calbacklink__item .calbacklink__link {
          color: #fff;
          text-align: right; }
      .header .header__bottom .header__contact .contact__callback-link .ico-mail {
        background: url(../img/ico_mail.png) left center no-repeat; }
      .header .header__bottom .header__contact .contact__callback-link .ico-phone {
        background: url(../img/ico_phone.png) left center no-repeat; }

nav {
  /*    height: 47px;*/
  font-size: 16px;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #fff;
  background: #2980b9; }
  nav .upline {
    background: #2980b9;
    height: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    z-index: 99999; }
  nav .line {
    border-bottom: 1px solid #ec584d;
    height: 10px;
    width: 1260px;
    margin: 0 auto; }
    nav .line .arrow {
      width: 0px;
      height: 0;
      border: 4px solid transparent;
      border-bottom: 7px solid #ec584d;
      position: relative; }
  nav ul {
    display: table;
    width: 100%; }
    nav ul li {
      display: table-cell;
      width: calc(100% / 8);
      text-align: center; }
      nav ul li a {
        height: 47px;
        line-height: 47px;
        cursor: pointer; }
      nav ul li .bg {
        position: absolute;
        background: #2980b9;
        width: 100%;
        left: 0;
        padding-bottom: 80px;
        display: none;
        z-index: 99999; }
      nav ul li ul {
        display: block;
        width: 1260px;
        margin-top: 20px; }
        nav ul li ul li {
          width: 315px;
          display: block;
          float: left;
          height: 58px; }
          nav ul li ul li a {
            text-align: left;
            border-collapse: collapse;
            height: 58px;
            display: block;
            text-transform: none;
            font-size: 16px;
            line-height: 16px;
            display: table;
            width: 100%;
            cursor: pointer; }
            nav ul li ul li a span {
              display: table-cell;
              vertical-align: middle;
              background: url(../img/ico_auto.png) left center no-repeat;
              padding-left: 60px; }
              nav ul li ul li a span:hover {
                background-image: url(../img/ico_auto_hover.png); }

/*---SEARCH AUTO ---*/
.section__search-auto {
  position: relative; }
  .section__search-auto .search__auto-title {
    text-align: center;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    padding: 30px; }
  .section__search-auto .search__auto-alphabet ul {
    display: table;
    margin: 0 auto;
    border-bottom: 1px solid #2980b9;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-bottom: 10px;
    width: 100%;
    table-layout: fixed; }
    .section__search-auto .search__auto-alphabet ul li {
      display: table-cell; }
      .section__search-auto .search__auto-alphabet ul li a {
        text-align: center;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        color: black;
        text-transform: uppercase;
        width: 35px;
        height: 35px;
        display: block;
        margin-botoom: 20px; }
        .section__search-auto .search__auto-alphabet ul li a:hover {
          background: #c93b3b;
          color: #FFF;
          border-radius: 20px; }
      .section__search-auto .search__auto-alphabet ul li .active {
        background: #c93b3b;
        color: #FFF;
        border-radius: 20px; }
  .section__search-auto .search__auto-results {
    padding-bottom: 20px;
    min-height: 50px; }
    .section__search-auto .search__auto-results .results__block {
      display: none; }
      .section__search-auto .search__auto-results .results__block ul {
        display: table;
        width: 100%;
        table-layout: fixed; }
        .section__search-auto .search__auto-results .results__block ul li {
          float: left; }
          .section__search-auto .search__auto-results .results__block ul li a {
            font-family: 'PT Sans';
            font-size: 16px;
            color: black;
            display: block;
            margin-right: 15px; }

/*---SLIDERS---*/
.wrapper-slider-front {
  position: absolute;
  margin-top: -10px;
  width: 1260px;
  height: 414px; }

.wrapper-slider {
  position: absolute;
  width: 100%;
  left: 0; }

.section__slider {
  padding-top: 38px;
  height: 447px; }
  .section__slider #bx-pager {
    position: absolute;
    width: 1260px;
    margin-top: 370px; }
    .section__slider #bx-pager .pager-link {
      display: block;
      float: right;
      height: 30px;
      width: 30px;
      border: 2px solid #a7a7a7;
      border-radius: 30px;
      margin: 4px;
      margin-top: -10px;
      margin-right: 10px; }
    .section__slider #bx-pager .active {
      border-color: #f65542; }
  .section__slider .color-blue {
    position: absolute;
    height: 383px;
    width: 100%;
    left: 0px;
    background: #1b59a2;
    opacity: 0.5; }
  .section__slider .wrapper-slider-front {
    -webkit-box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75); }
    .section__slider .wrapper-slider-front .bx-prev {
      display: block;
      width: 31px;
      height: 60px;
      position: absolute;
      background: url(../img/sliders/left.png);
      margin-top: -200px;
      margin-top: -260px;
      left: -50px; }
    .section__slider .wrapper-slider-front .bx-next {
      display: block;
      width: 31px;
      height: 60px;
      position: absolute;
      background: url(../img/sliders/right.png);
      margin-top: -200px;
      margin-top: -260px;
      right: -50px; }

/*---SECTIONS ---*/
.section__special-price {
  padding-top: 50px; }
  .section__special-price .products {
    overflow: hidden;
    width: 1260px; }
    .section__special-price .products .products_wrapper {
      width: 1280px;
      overflow: hidden; }
      .section__special-price .products .products_wrapper > div {
        height: 285px; }
    .section__special-price .products .load_row {
      text-align: center;
      width: 100%;
      padding-bottom: 50px; }
      .section__special-price .products .load_row a {
        display: inline-block;
        color: black;
        margin: 0 auto;
        padding-right: 30px;
        font-family: 'PT Sans';
        font-size: 16px;
        background: url(../img/load-ico.png) right center no-repeat; }
        .section__special-price .products .load_row a span {
          border-bottom: 1px dashed black; }
          .section__special-price .products .load_row a span:hover {
            border: none; }

.title__row {
  padding-bottom: 20px;
  padding-top: 20px;
  display: table;
  width: 100%; }

.product {
  float: left;
  padding: 20px;
  margin: 0 20px 20px 0;
  width: 260px;
  background: #fff; }
  .product .img_product {
    float: left;
    display: block; }
  .product .title_product a {
    color: black;
    font-size: 14px;
    line-height: normal;
    font-family: 'PT Sans';
    word-break: break-all; }
    .product .title_product a:hover {
      text-decoration: underline; }
  .product .product_bottom {
    margin-top: 30px;
    clear: both;
    overflow: hidden;
    height: 42px; }
    .product .product_bottom .spec-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/special-price-ico.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product .product_bottom .like-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/ls.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product .product_bottom .new-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/new-ico.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product .product_bottom .product_raiting .stars {
      margin-top: 21px;
      margin-left: 20px;
      float: left; }
      .product .product_bottom .product_raiting .stars li {
        float: left; }
        .product .product_bottom .product_raiting .stars li a {
          display: block;
          height: 15px;
          width: 15px;
          background: url(../img/star.png) center center no-repeat;
          margin-right: 1px; }
    .product .product_bottom .price {
      font-family: 'PT Sans';
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
      padding-left: 154px; }
      .product .product_bottom .price del {
        display: block;
        color: #666666;
        font-size: 16px;
        line-height: 16px; }
        .product .product_bottom .price del .rub {
          display: inline-block;
          font-size: 16px;
          line-height: 7px;
          border-bottom: 1px solid #666;
          width: 0.4em; }
      .product .product_bottom .price .rub {
        display: inline-block;
        font-size: 26px;
        line-height: 7px;
        border-bottom: 1px solid #000000;
        width: 0.4em; }

.product_big {
  float: left;
  padding: 20px;
  margin: 0 20px 20px 0;
  width: 580px;
  background: #fff; }
  .product_big .img_product {
    float: left;
    display: block; }
  .product_big .title_product a {
    color: black;
    font-size: 14px;
    line-height: normal;
    font-family: 'PT Sans';
    word-break: break-all; }
    .product_big .title_product a:hover {
      text-decoration: underline; }
  .product_big .text_product {
    color: #666666;
    font-size: 14px;
    line-height: normal;
    font-family: 'PT Sans';
    word-break: break-all;
    padding-top: 30px; }
  .product_big .product_bottom {
    clear: both;
    overflow: hidden;
    height: 42px; }
    .product_big .product_bottom .spec-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/special-price-ico.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product_big .product_bottom .like-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/ls.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product_big .product_bottom .new-price {
      display: block;
      width: 40px;
      height: 23px;
      background: url(../img/new-ico.png) center center no-repeat;
      margin-top: 16px;
      float: left; }
    .product_big .product_bottom .product_raiting .stars {
      margin-top: 21px;
      margin-left: 20px;
      float: left; }
      .product_big .product_bottom .product_raiting .stars li {
        float: left; }
        .product_big .product_bottom .product_raiting .stars li a {
          display: block;
          height: 15px;
          width: 15px;
          background: url(../img/star.png) center center no-repeat;
          margin-right: 1px; }
    .product_big .product_bottom .price {
      float: right;
      font-family: 'PT Sans';
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
      padding-right: 170px; }
      .product_big .product_bottom .price del {
        display: block;
        color: #666666;
        font-size: 16px;
        line-height: 16px; }
        .product_big .product_bottom .price del .rub {
          display: inline-block;
          font-size: 16px;
          line-height: 7px;
          border-bottom: 1px solid #666;
          width: 0.4em; }
      .product_big .product_bottom .price .rub {
        display: inline-block;
        font-size: 26px;
        line-height: 7px;
        border-bottom: 1px solid #000000;
        width: 0.4em; }

.block50 {
  width: 50%; }

.block25 {
  width: 25%; }

.section__link {
  font-size: 16px;
  line-height: 16px;
  font-family: 'PT Sans';
  font-weight: normal;
  line-height: normal;
  color: #2980b9;
  text-decoration: underline;
  display: table-cell; }
  .section__link:hover {
    text-decoration: none; }

.title-ico {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  padding-left: 55px;
  height: 39px;
  background: url(../img/special-price.png) left center no-repeat;
  display: table-cell; }

.title-ico-like {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 25px;
  line-height: 60px;
  padding-left: 55px;
  height: 39px;
  background: url(../img/like.png) left top no-repeat;
  display: table-cell; }

.title-ico-new {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 25px;
  line-height: 60px;
  padding-left: 55px;
  height: 39px;
  background: url(../img/new.png) left center no-repeat;
  display: table-cell; }

.main {
  display: block;
  min-height: calc(100vh - 160px - 580px);
  overflow: hidden;
  clear: both; }
  .main .wrapper_content {
    display: table; }
    .main .wrapper_content .content {
      display: table-cell;
      vertical-align: top;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 100px; }
      .main .wrapper_content .content h1 {
        display: table-cell;
        font-size: 22px;
        line-height: 22px;
        font-family: 'PT Sans';
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px; }
      .main .wrapper_content .content p {
        font-size: 15px;
        line-height: 19px;
        font-family: 'PT Sans';
        font-weight: normal;
        clear: both; }
    .main .wrapper_content .review_list {
      float: right;
      width: 450px;
      display: table-cell;
      vertical-align: top; }
      .main .wrapper_content .review_list .title_row {
        display: table;
        width: 100%;
        height: 50px; }
        .main .wrapper_content .review_list .title_row h3 {
          display: table-cell;
          font-size: 22px;
          line-height: 22px;
          font-family: 'PT Sans';
          font-weight: bold;
          vertical-align: middle;
          padding-left: 20px; }
          .main .wrapper_content .review_list .title_row h3 span {
            font-size: 16px;
            line-height: 16px;
            font-family: 'PT Sans';
            font-weight: bold; }
        .main .wrapper_content .review_list .title_row a {
          display: table-cell;
          font-size: 16px;
          line-height: 16px;
          font-family: 'PT Sans';
          color: #2980b9;
          text-decoration: underline;
          text-align: right;
          vertical-align: middle; }
          .main .wrapper_content .review_list .title_row a:hover {
            text-decoration: none; }
      .main .wrapper_content .review_list .review_item {
        padding: 20px;
        background: #ffdb4d;
        overflow: hidden;
        border-radius: 5px; }
        .main .wrapper_content .review_list .review_item h3 {
          font-size: 17px;
          line-height: 17px;
          font-family: 'PT Sans';
          font-weight: normal; }
          .main .wrapper_content .review_list .review_item h3:first-letter {
            color: red; }
        .main .wrapper_content .review_list .review_item p {
          font-size: 15px;
          line-height: 19px;
          font-family: 'PT Sans';
          font-weight: normal;
          clear: both; }
        .main .wrapper_content .review_list .review_item ul li {
          float: left;
          height: 15px;
          width: 15px;
          background: url(../img/white-star.png) center center no-repeat;
          padding-left: 1px;
          padding-top: 20px; }

.footer {
  background: #2a3136;
  min-height: 680px;
  overflow: hidden; }
  .footer .conteiner {
    display: table; }
    .footer .conteiner .footer__left {
      display: table-cell;
      vertical-align: top; }
      .footer .conteiner .footer__left h3 {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        font-family: 'PT Sans';
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 10px; }
      .footer .conteiner .footer__left hr {
        color: #fff;
        clear: both; }
      .footer .conteiner .footer__left .footer_phonemail li {
        float: left; }
        .footer .conteiner .footer__left .footer_phonemail li a {
          color: #fff;
          font-size: 20px;
          line-height: 42px;
          font-family: 'PT Sans';
          font-weight: bold;
          height: 41px;
          display: block;
          padding-left: 46px;
          margin-left: 20px;
          margin-top: 40px;
          margin-bottom: 40px; }
        .footer .conteiner .footer__left .footer_phonemail li .mail {
          background: url(../img/mail_big.png) left center no-repeat; }
        .footer .conteiner .footer__left .footer_phonemail li .phone {
          background: url(../img/phone_big.png) left center no-repeat; }
      .footer .conteiner .footer__left .contacts {
        padding-bottom: 40px;
        overflow: hidden; }
        .footer .conteiner .footer__left .contacts ul {
          float: left;
          width: 320px; }
          .footer .conteiner .footer__left .contacts ul li {
            color: #fff;
            font-size: 15px;
            line-height: 15px;
            font-family: 'PT Sans';
            padding-top: 5px;
            padding-bottom: 5px; }
      .footer .conteiner .footer__left .links ul li {
        float: left; }
        .footer .conteiner .footer__left .links ul li a {
          color: #fff;
          font-size: 15px;
          line-height: 15px;
          font-family: 'PT Sans';
          text-decoration: underline;
          display: block;
          width: 130px;
          margin-right: 60px;
          text-align: left;
          padding-top: 20px; }
          .footer .conteiner .footer__left .links ul li a:hover {
            text-decoration: none; }
      .footer .conteiner .footer__left .copyright {
        clear: both;
        overflow: hidden;
        margin-top: 200px;
        font-size: 13px;
        line-height: 13px;
        font-family: 'PT Sans';
        color: #fff; }
        .footer .conteiner .footer__left .copyright span {
          color: red; }
    .footer .conteiner .footer__rigth {
      display: table-cell;
      width: 300px;
      vertical-align: top;
      text-align: center;
      padding-top: 40px; }

@media (max-width: 1024px) {
  * {
    max-width: 100vw; }

  html, body {
    overflow-x: hidden; }

  .conteiner {
    padding: 0 10px;
    max-width: calc(100vw - 20px); }

  .header {
    /*        height: 160px;
            background: #384047;*/ }
    .header .header__top {
      /*            @include clearfix;
                  height: 37px;
                  border-bottom:1px solid #2980b9;
                  padding-top:10px;*/ }
      .header .header__top .header__menu {
        /*                float: left;
                        width: 75%;*/
        width: 630px; }
        .header .header__top .header__menu .header__menu-toogle {
          /*                    display: none;*/ }
        .header .header__top .header__menu .menu {
          display: table;
          width: 100%; }
          .header .header__top .header__menu .menu .menu__item {
            display: table-cell;
            padding: 0;
            text-align: center; }
            .header .header__top .header__menu .menu .menu__item a {
              color: #FFF;
              font-size: 16px;
              font-family: 'PT Sans';
              font-weight: normal;
              line-height: normal; }
      .header .header__top .header__right {
        float: right;
        width: 300px; }
        .header .header__top .header__right .header__auth {
          color: #FFF;
          font-size: 16px;
          font-family: 'PT Sans';
          background: url("../img/icon_1.png") 153px no-repeat;
          margin-top: -10px;
          display: block;
          width: 50%;
          height: 32px;
          float: left;
          padding-top: 10px;
          padding-left: 50px; }
        .header .header__top .header__right .header__cart {
          display: block;
          float: right;
          margin-top: -10px;
          width: 76px;
          height: 38px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          background: url("../img/icon_cart.png") center 5px no-repeat #2980b9; }
          .header .header__top .header__right .header__cart .header__circle {
            background: #f65542;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            display: block;
            margin: 3px 0 0 34px;
            text-align: center;
            font-family: 'PT Sans';
            font-size: 10px;
            color: #fff;
            line-height: 16px; }
    .header .header__bottom:after, .header .header__bottom:before {
      display: table;
      content: ""; }
    .header .header__bottom:after {
      clear: both; }
    .header .header__bottom .header__logo {
      float: left;
      width: 25%; }
      .header .header__bottom .header__logo .logo {
        display: block;
        width: 272px;
        height: 48px;
        background: url(../img/logo_1280.png);
        margin-top: 23px; }
    .header .header__bottom .header__search {
      float: left;
      width: 300px; }
      .header .header__bottom .header__search .search__input {
        width: 280px;
        height: 41px;
        display: block;
        border: none;
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 3px;
        margin-left: 100px; }
      .header .header__bottom .header__search .search__submit {
        display: block;
        position: absolute;
        width: 22px;
        height: 22px;
        margin-left: 343px;
        margin-top: -31px;
        border: none;
        background: url(../img/ico_search.png) no-repeat;
        cursor: pointer;
        position: relative; }
    .header .header__bottom .header__contact {
      float: left;
      width: 300px;
      margin-top: 10px;
      margin-left: 130px; }
      .header .header__bottom .header__contact .contact__title {
        text-align: right;
        font-family: 'PT Sans';
        font-size: 10px;
        color: #FFF;
        text-transform: uppercase; }
      .header .header__bottom .header__contact .contact__phone {
        text-align: right;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 33px;
        color: #FFF;
        letter-spacing: 1.5px; }
      .header .header__bottom .header__contact .contact__callback-link {
        display: table;
        width: 262px;
        float: right; }
        .header .header__bottom .header__contact .contact__callback-link .calbacklink__item {
          float: left;
          font-size: 13px;
          font-family: 'PT Sans';
          display: table-cell;
          /*width: 50%;*/
          padding-left: 25px;
          height: 20px;
          line-height: 20px; }
          .header .header__bottom .header__contact .contact__callback-link .calbacklink__item:first-of-type {
            padding-right: 10px; }
          .header .header__bottom .header__contact .contact__callback-link .calbacklink__item .calbacklink__link {
            color: #fff;
            text-align: right; }
        .header .header__bottom .header__contact .contact__callback-link .ico-mail {
          background: url(../img/ico_mail.png) left center no-repeat; }
        .header .header__bottom .header__contact .contact__callback-link .ico-phone {
          background: url(../img/ico_phone.png) left center no-repeat; }

  nav {
    /*    height: 47px;*/
    font-size: 16px;
    font-family: 'PT Sans';
    text-transform: uppercase;
    color: #fff;
    background: #2980b9; }
    nav .upline {
      background: #2980b9;
      height: 10px;
      position: absolute;
      width: 100%;
      left: 0;
      display: none;
      z-index: 99999; }
    nav .line {
      border-bottom: 1px solid #ec584d;
      height: 10px;
      width: 1260px;
      margin: 0 auto; }
      nav .line .arrow {
        width: 0px;
        height: 0;
        border: 4px solid transparent;
        border-bottom: 7px solid #ec584d;
        position: relative; }
    nav ul {
      display: table;
      width: 100%; }
      nav ul li {
        display: table-cell;
        width: calc(100% / 8);
        text-align: center; }
        nav ul li a {
          height: 47px;
          line-height: 47px;
          cursor: pointer; }
        nav ul li .bg {
          position: absolute;
          background: #2980b9;
          width: 100%;
          left: 0;
          padding-bottom: 80px;
          display: none;
          z-index: 99999; }
        nav ul li ul {
          display: block;
          width: 1260px;
          margin-top: 20px; }
          nav ul li ul li {
            width: 315px;
            display: block;
            float: left;
            height: 58px; }
            nav ul li ul li a {
              text-align: left;
              border-collapse: collapse;
              height: 58px;
              display: block;
              text-transform: none;
              font-size: 16px;
              line-height: 16px;
              display: table;
              width: 100%;
              cursor: pointer; }
              nav ul li ul li a span {
                display: table-cell;
                vertical-align: middle;
                background: url(../img/ico_auto.png) left center no-repeat;
                padding-left: 60px; }
                nav ul li ul li a span:hover {
                  background-image: url(../img/ico_auto_hover.png); }

  /*---SEARCH AUTO ---*/
  .section__search-auto {
    position: relative; }
    .section__search-auto .search__auto-title {
      text-align: center;
      font-family: 'PT Sans';
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      padding: 30px; }
    .section__search-auto .search__auto-alphabet ul {
      display: table;
      margin: 0 auto;
      border-bottom: 1px solid #2980b9;
      margin-top: 20px;
      margin-bottom: 12px;
      padding-bottom: 10px;
      width: 100%;
      table-layout: fixed; }
      .section__search-auto .search__auto-alphabet ul li {
        display: table-cell; }
        .section__search-auto .search__auto-alphabet ul li a {
          text-align: center;
          font-family: 'PT Sans';
          font-weight: bold;
          font-size: 20px;
          line-height: 34px;
          color: black;
          text-transform: uppercase;
          width: 35px;
          height: 35px;
          display: block;
          margin-botoom: 20px; }
          .section__search-auto .search__auto-alphabet ul li a:hover {
            background: #c93b3b;
            color: #FFF;
            border-radius: 20px; }
        .section__search-auto .search__auto-alphabet ul li .active {
          background: #c93b3b;
          color: #FFF;
          border-radius: 20px; }
    .section__search-auto .search__auto-results {
      padding-bottom: 20px;
      min-height: 50px; }
      .section__search-auto .search__auto-results .results__block {
        display: none; }
        .section__search-auto .search__auto-results .results__block ul {
          display: table;
          width: 100%;
          table-layout: fixed; }
          .section__search-auto .search__auto-results .results__block ul li {
            float: left; }
            .section__search-auto .search__auto-results .results__block ul li a {
              font-family: 'PT Sans';
              font-size: 16px;
              color: black;
              display: block;
              margin-right: 15px; }

  /*---SLIDERS---*/
  .wrapper-slider-front {
    position: absolute;
    margin-top: -10px;
    width: 100%;
    height: 311px; }

  .wrapper-slider {
    /*        position: absolute;
            width: 100%;
            left: 0;*/
    display: none; }

  .section__slider {
    padding-top: 38px;
    height: 311px;
    position: relative; }
    .section__slider .conteiner {
      max-width: 100vw;
      padding: 0; }
    .section__slider #bx-pager {
      position: absolute;
      width: 960px;
      margin-top: 263px; }
      .section__slider #bx-pager .pager-link {
        display: block;
        float: right;
        height: 30px;
        width: 30px;
        border: 2px solid #a7a7a7;
        border-radius: 30px;
        margin: 4px;
        margin-top: -10px;
        margin-right: 10px; }
      .section__slider #bx-pager .active {
        border-color: #f65542; }
    .section__slider .color-blue {
      /*            position: absolute;
                  height: 383px;
                  width: 100%;
                  left: 0px;
                  background: #1b59a2;
                  opacity: 0.5;*/
      display: none; }
    .section__slider .wrapper-slider-front {
      -webkit-box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 13px 11px 0px rgba(50, 50, 50, 0.75); }
      .section__slider .wrapper-slider-front .bx-prev {
        display: block;
        width: 31px;
        height: 60px;
        position: absolute;
        background: url(../img/sliders/left.png);
        margin-top: -204px;
        left: 20px; }
      .section__slider .wrapper-slider-front .bx-next {
        display: block;
        width: 31px;
        height: 60px;
        position: absolute;
        background: url(../img/sliders/right.png);
        margin-top: -204px;
        right: 20px; }

  /*---SECTIONS ---*/
  .section__special-price {
    padding-top: 50px; }
    .section__special-price .products {
      overflow: hidden;
      width: 940px;
      margin: auto; }
      .section__special-price .products .products_wrapper {
        width: 960px;
        overflow: hidden; }
      .section__special-price .products .load_row {
        text-align: center;
        width: 100%;
        padding-bottom: 50px; }
        .section__special-price .products .load_row a {
          display: inline-block;
          color: black;
          margin: 0 auto;
          padding-right: 30px;
          font-family: 'PT Sans';
          font-size: 16px;
          background: url(../img/load-ico.png) right center no-repeat; }
          .section__special-price .products .load_row a span {
            border-bottom: 1px dashed black; }

  .title__row {
    padding-bottom: 20px;
    padding-top: 20px;
    display: table;
    width: 940px;
    margin: auto; }

  .product {
    float: left;
    padding: 20px;
    margin: 0 20px 20px 0;
    width: 260px;
    background: #fff; }
    .product .img_product {
      float: left;
      display: block; }
    .product .title_product a {
      color: black;
      font-size: 14px;
      line-height: normal;
      font-family: 'PT Sans';
      word-break: break-all; }
      .product .title_product a:hover {
        text-decoration: underline; }
    .product .product_bottom {
      margin-top: 30px;
      clear: both;
      overflow: hidden;
      height: 42px; }
      .product .product_bottom .spec-price {
        display: block;
        width: 40px;
        height: 23px;
        background: url(../img/special-price-ico.png) center center no-repeat;
        margin-top: 16px;
        float: left; }
      .product .product_bottom .product_raiting .stars {
        margin-top: 21px;
        margin-left: 20px;
        float: left; }
        .product .product_bottom .product_raiting .stars li {
          float: left; }
          .product .product_bottom .product_raiting .stars li a {
            display: block;
            height: 15px;
            width: 15px;
            background: url(../img/star.png) center center no-repeat;
            margin-right: 1px; }
      .product .product_bottom .price {
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        padding-left: 154px; }
        .product .product_bottom .price del {
          display: block;
          color: #666666;
          font-size: 16px;
          line-height: 16px; }
          .product .product_bottom .price del .rub {
            display: inline-block;
            font-size: 16px;
            line-height: 7px;
            border-bottom: 1px solid #666;
            width: 0.4em; }
        .product .product_bottom .price .rub {
          display: inline-block;
          font-size: 26px;
          line-height: 7px;
          border-bottom: 1px solid #000000;
          width: 0.4em; }

  .product_big {
    float: left;
    padding: 20px;
    margin: 0 20px 20px 0;
    width: 580px;
    background: #fff; }
    .product_big .img_product {
      float: left;
      display: block; }
    .product_big .title_product a {
      color: black;
      font-size: 14px;
      line-height: normal;
      font-family: 'PT Sans';
      word-break: break-all; }
      .product_big .title_product a:hover {
        text-decoration: underline; }
    .product_big .text_product {
      color: #666666;
      font-size: 14px;
      line-height: normal;
      font-family: 'PT Sans';
      word-break: break-all;
      padding-top: 30px; }
    .product_big .product_bottom {
      clear: both;
      overflow: hidden;
      height: 42px; }
      .product_big .product_bottom .spec-price {
        display: block;
        width: 40px;
        height: 23px;
        background: url(../img/special-price-ico.png) center center no-repeat;
        margin-top: 16px;
        float: left; }
      .product_big .product_bottom .product_raiting .stars {
        margin-top: 21px;
        margin-left: 20px;
        float: left; }
        .product_big .product_bottom .product_raiting .stars li {
          float: left; }
          .product_big .product_bottom .product_raiting .stars li a {
            display: block;
            height: 15px;
            width: 15px;
            background: url(../img/star.png) center center no-repeat;
            margin-right: 1px; }
      .product_big .product_bottom .price {
        float: right;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        padding-right: 170px; }
        .product_big .product_bottom .price del {
          display: block;
          color: #666666;
          font-size: 16px;
          line-height: 16px; }
          .product_big .product_bottom .price del .rub {
            display: inline-block;
            font-size: 16px;
            line-height: 7px;
            border-bottom: 1px solid #666;
            width: 0.4em; }
        .product_big .product_bottom .price .rub {
          display: inline-block;
          font-size: 26px;
          line-height: 7px;
          border-bottom: 1px solid #000000;
          width: 0.4em; }

  .block50 {
    width: 50%; }

  .block25 {
    width: 25%; }

  .section__link {
    font-size: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: 'PT Sans';
    font-weight: normal;
    line-height: normal;
    color: #2980b9;
    text-decoration: underline;
    display: table-cell; }
    .section__link:hover {
      text-decoration: none; }

  .title-ico {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    padding-left: 55px;
    height: 39px;
    background: url(../img/special-price.png) left center no-repeat;
    display: table-cell; }

  .main {
    display: block;
    min-height: calc(100vh - 160px - 580px);
    overflow: hidden;
    clear: both; }

  .footer {
    min-height: 680px;
    overflow: hidden; } }

/*# sourceMappingURL=template.css.map */
